<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/92928bcf15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="contenedor-general">
            <div class="contenedor-imagen">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Meercado Liebre" />
            </div>
            <div class="contenedor-buscar-productos">
                <input type="text" placeholder="Buscar productos, marcas" />
                <button><i class="fas fa-search lupa"></i></button>
            </div>
            <div class="contenedor-compra-cuotas">
                <span class="cuotas">
                    <i class="fas fa-hand-holding-usd"></i>comprá en cuotas y sin tarjeta de
                    crédito
                </span>
            </div>
        </div>
        <div class="contenedor-nav">
            <nav class="navBar">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="loginBar">
                <ul>
                    <li>
                        <a href="">Creá tu cuenta <i class="fas fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </section>
    </header>

    <main class="main">

        <h2 class="titulares">Basado en su última visita :</h2>

        <section class="ultimaVista">


            <article class="articulo-cajaGeneral">
                <div class="caja_imagen-producto">

                <img class="product" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
                </div>
                <div class="caja">
                    <div class="logoEnvio">
                        <i class="fa-solid fa-truck truck"></i>
                    </div>

                    <div class="contenedor-precio-descuento">
                        <span class="precios">$6.770</span>
                        <span class="descuentos">40% off</span>
                    </div>

                    <h3 class="descripciones">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$230.000</span>
                        <span class="descuentos">20% off</span>
                    </div>
                    <h3 class="descripciones">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$70.500</span>
                        <span class="descuentos">10% off</span>
                    </div>
                    <h3 class="descripciones">Samsung Galaxy</h3>
                </div>
            </article>
            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$23.200</span>
                        <span class="descuentos">5% off</span>
                    </div>
                    <h3 class="descripciones">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>

        <h2 class="titulares">Sección de Ofertas</h2>

        <section class="ultimaVista">


            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$6.770</span>
                        <span class="descuentos">40% off</span>

                    </div>
                    <h3 class="descripciones">Cafetera Moulinex</h3>
                </div>
            </article>

            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$230.000</span>
                        <span class="descuentos">20% off</span>
                    </div>
                    <h3 class="descripciones">MacBook Pro 2019</h3>
                </div>
            </article>

            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$70.500</span>
                        <span class="descuentos">10% off</span>
                    </div>
                    <h3 class="descripciones">Samsung Galaxy</h3>
                </div>
            </article>
            <article class="articulo-cajaGeneral">
                <img class="product" src="/images/img-tv-samsung-smart.jpg" alt="Smart Tv" />
                <div class="caja">
                    <div class="logoEnvio"><i id="truck" class="fa-solid fa-truck truck"></i></div>
                    <div class="contenedor-precio-descuento">
                        <span class="precios">$23.200</span>
                        <span class="descuentos">5% off</span>
                    </div>
                    <h3 class="descripciones">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>

    <footer class="piePag">
        <section>
            <div><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section>
            <div><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <div><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </section>
        <article class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>