footer{
    background-color: white;  /*   COLOR BLANCO EN EL FOOTER   */
}



.piePag section div{

    border-radius: 5px;
    background-color:white ;
    color: var(--colorCeleste);
    display:block;
    font-size: 30px;
    margin: 30px auto 5px;
    padding: 5px;
    text-align: center;
    width: 50px;
     

}

.piePag section {
    padding: 10px 40px;
    text-align: center;

}

.piePag section h3{

    color: var(--grisOscuro);
    font-weight:bolder;
    
}

.piePag p{

    color: var(--grisOscuro);
}
.icono:hover{
    transition:all 0.2s;
    color: #EAC926;

}

@media(min-width:1024px){

    .footer-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    
    .piePag section {
        
        padding: 10px 40px;
        text-align: center;
        width: 33%;
    }
    .copyright p {
        
        text-align: left;
        padding-bottom: 10px;
    }
}
