header{
    margin-bottom: 0px;
}

header img.logo{
    margin-top: 15px;
    width: 100% ;
   
}


.contenedor-logo-searchBar{  /* contenedor del logo y de la barra de busqueda*/

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
   


}


.contenedor-imagen{

    width: 50%;
}



header div.searchBar input{

    width: 100px;
    height: 22px;
    border-radius: 3px;
    border-color: white;
    
}


 header div.searchBar{
    margin-left: 5px;
    margin-top:20px;
    width: 30%;
    
    
 }




 header span{
     margin-left: 50px;
 }


 header nav.navBar{
 
     margin-left: 10px;
     margin-top: 20px;   
     display: none; 
 }
 
 header nav.loginBar{
 
     margin-left: 10px;
     margin-top: 20px;
     display: none;
 }

 header div.burger-menu{

    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 20px;
 }

  header div.burger-menu i{

    border-radius: 5px;
    background-color: var(--colorCeleste);
    color: white;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    width: 50px;
     
 } 

 
header section.banner{
    
    display: none;
    
    
}


 /*TABLET*/

 @media(min-width:425px){

    
    header nav.navBar{
       
        display: block; 
    }
    
    header nav.loginBar{
    
        display: block;
        padding-bottom: 15px;
    }

    header div.burger-menu{

        display: none;
     }
    
      header div.burger-menu i{
    
        display: none;
        
         
     }
     /*BANNER*/

     
   header section.banner{
    display: block;


   }

   header section.banner img{
    width: 100%;
    display: flex;
    justify-content: end;
    
    }    
    
 }


 
 /*LAPTOP*/

 @media(min-width:769px){
    
    
    header nav.navBar{
 
       
        display: block; 
    }
    
    header nav.loginBar{
    
       
        display: block;
        padding-bottom:15px;
    }

    header div.burger-menu{

        display: none;
    }

    
    header div.burger-menu i{
    
        display: none;
        
         
     } 
 }

