header {

    background-color:var(--colorAmarillo);
    margin-bottom: 0px;


}
/* contenedor general */
.contenedor-general{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3vh;
}

/* imagen */
.contenedor-imagen {

    width: 50%;
    
}


header img.logo {
    padding: 15px;
    width: 100%;

}


/* buscador */

.contenedor-buscar-productos{

    width: 50%;
    display: flex;
}
.contendor-buscar-productos input{
    width: 160px;
    height: 25px;
}



/* cuotas */

.contenedor-compra-cuotas{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


i.lupa {

    font-size: 19px;
}




header span.cuotas {
    margin-left: 50px;

}


header nav.navBar {

    margin-left: 10px;
    margin-top: 20px;
    display: none;
}

header nav.loginBar {

    margin-left: 10px;
    margin-top: 20px;
    display: none;
}

header div.burger-menu {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 20px;
}

header div.burger-menu i {

    border-radius: 5px;
    background-color: var(--colorCeleste);
    color: white;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    width: 50px;

}

header section.banner {

    display: none;
}


/*        MOBILE*/
@media (min-width : 425px) {}

/*         TABLET*/

@media(min-width:768px) {

    .contenedor-general {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2vh 1vh;
    }
    .contenedor-imagen {
        width: 30%;
    }
    .contenedor-buscar-productos {
        width: 30%;
    }
    .contenedor-buscar-productos input{
        margin-left: 10px;
        height: 29px;
    }
    i.lupa {
        font-size: 17px;
        padding: 3px;
    }
    .contenedor-compra-cuotas {
        width: 40%;
        display: flex;
        flex-direction: row;
      
    }
    header span.cuotas {
        margin-left: 0px;
        font-size: 15px;
    }

 /*      NAV BAR      */
   
    header nav.navBar {

        margin-left: 10px;
        margin-top: 20px;
        display: flex;
    }
    header nav.loginBar {

        margin-left: 10px;
        margin-top: 20px;
        display: flex;
    }
    .contenedor-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 15px;
    }
    header nav.navBar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav.loginBar ul {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*                BURGUER MENU             */

    header div.burger-menu {

        display: none;
    }

    header div.burger-menu i {

        display: none;


    }

    /*BANNER*/


    header section.banner {
        display: block;


    }

    header section.banner img {
        width: 100%;
        display: flex;
        justify-content: end;

    }

}



/*             LAPTOP     */

@media(min-width:1024px) {

    .contenedor-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 15px;
        align-items: center;
    }

    .contenedor-imagen {
        width: 32%;
    }
    header img.logo {
        
        width: 43vh;
    }
    .contenedor-buscar-productos input {
        margin-left: 4em;
        height: 3vh;
        width: 18vh;
    }
    .contenedor-compra-cuotas {
        width: 38%;
        display: flex;
        flex-direction: row;
      
    }
    header span.cuotas {
        margin-left: 0px;
        font-size: 20px;
    }

    .contenedor-buscar-productos {
        width: 24%;
        margin-left: 0px;
    }
    header nav.navBar {
        display: block;
    }

    header nav.loginBar {


        display: block;
        padding: 15px;
    }

    header div.burger-menu {

        display: none;
    }


    header div.burger-menu i {

        display: none;


    }
}