
.main{

    width:90% ;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}


.main section article.articulo-cajaGeneral{

    
    width:100%;
    margin: 0 auto;
    margin-bottom: 30px;
   
   
    
 
}

/* APARECE DESCRIPCION AL HACER HOVER EN CAJA PADRE */
.main section article.articulo-cajaGeneral:hover 
h3.descripciones {
    
    display: block;
   
}

/* APARECE EL BOX SHADOW AL HACER HOVER EN CAJA PRODUCTO */
.main section article.articulo-cajaGeneral:hover {
    
    box-shadow: 0px 0px 10px rgb(100 100 100);
  
}


.main article.articulo-cajaGeneral div.caja{

    border-top:solid 1px var(--colorDeCaja) ;
    padding: 15px 15px 15px 15px;
    background-color: white;
    width: 100%;
    margin: 0px auto; 
   
}

 
.main article.articulo-cajaGeneral  img.product{

 
    display: block;/*centrar imagen*/
    margin: 0px auto;/*centrar imagen*/
    width:100%;
 
}  


.logoEnvio{

    position: relative;
}

.truck{
    display: block; 
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border:1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute; 
    right: 20px;
    top: -28px;
    color:#39b54a;
}

/* ROTACION EN LOGO ENVIO AL HACER HOVER*/
.truck:hover{
    transition: all 1s;
    transform: rotate( -90deg);
    
}



.ultimaVista{  /* caja padre de contenedor precio-descuento*/

    margin: 30px 0;
    display: flex;
    flex-direction: column;
   /*  background-color: white; */
}


/* precio - descuento*/

.contenedor-precio-descuento{

    display: flex;
    width: 100%;
    flex-direction: row;

}

          
    /*     TABLETS*/

@media(min-width:768px){
   
    
    .ultimaVista{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

   /* PRODUCTOS CON BOX SHADOW*/
    .main section article.articulo-cajaGeneral{
        width:48%;
        margin-bottom: 40px;
        background-color: white;  
    }
  
    
    .main article.articulo-cajaGeneral div.caja{

    margin-bottom: 0px; 
   }
 

    span.precios{
        font-size: var(--precios);
        padding-top: 5px;
    }
    
    span.descuentos{
        padding-top: 5px;
        font-size: var(--descuentos);
        text-align: center;
   
    }


}
    
       /*LAPTOPS*/


@media(min-width: 1024px){
   

    /*PRODUCTOS CON BOX SHADOW*/


    .main section article.articulo-cajaGeneral{

    
        width:24%;
        margin: 0;
        /* box-shadow:0px 0px 10px rgb(100, 100, 100); */

     
    }
    .main article.articulo-cajaGeneral div.caja{
       
            padding: 15px 10px;
            text-align: center;
        }
        

    
    
    
    span.descuentos{
        
        padding-top: 5px;
       
        text-align: right;
   
    }
    
    
}