
main{

    width:90% ;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}


.main section article.articulo-cajaGeneral{

    
    width:100%;
    margin: 0 auto;
   
    
 
}


.main article.articulo-cajaGeneral div.caja{

    border-top:solid 1px var(--colorDeCaja) ;
    padding: 15px 15px 15px 15px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 15px;  
    
   
}
 

.main article.articulo-cajaGeneral  img.product{

 
    display: block;/*centrar imagen*/
    margin: 0px auto;/*centrar imagen*/
    width:100%;
 
}  


.logoEnvio{

    position: relative;
}

.truck{
    display: block; 
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border:1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute; 
    right: 20px;
    top: -28px;
    color:#39b54a;
}



.ultimaVista{  /* caja padre de contenedor precio-descuento*/

    margin: 30px 0;
    display: flex;
    flex-direction: column;
}




/* precio - descuento*/

.contenedor-precio-descuento{

    display: flex;
    width: 100%;
    flex-direction: row;

}



          
        /*TABLETS*/

@media(min-width:460px){
   
    /*DESCRIPCIONES*/
    h3.descripciones{

        display: block;
    }
   
    /* PRODUCTOS CON BOX SHADOW*/
    .main article.articulo-cajaGeneral  {

      box-shadow:0px 0px 10px rgb(100, 100, 100);
      
    }  

    .ultimaVista{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .main section article.articulo-cajaGeneral{

    
        width:48%;
        margin: 0;
        
    }

    span.precios{
        font-size: var(--precios);
        padding-top: 5px;
   
    }
    
    span.descuentos{
        padding-top: 5px;
        font-size: var(--descuentos);
        text-align: center;
   
    }

    }
    
       /*LAPTOPS*/


@media(min-width: 769px){
   
    /*DESCRIPCIONES*/

    h3.descripciones{

        display: block;
    }

    /*PRODUCTOS CON BOX SHADOW*/

    .main article.articulo-cajaGeneral  {

 box-shadow:0px 0px 10px rgb(100, 100, 100);

    }  

    .main section article.articulo-cajaGeneral{

    
        width:24%;
        margin: 0;
        
       
        
     
    }

    
    span.descuentos{
        
        padding-top: 5px;
       
        text-align: right;
   
    }
    
    
}