:root{
    
 --colorAmarillo: #EAC926;
 --colorAzul:#03264C;
 --colorCeleste: #1259c3; 
 --grisOscuro: #666;
 --grisClaro: #ebebeb;
 --verde: #39b54a;
 --colorDeCaja:#ebebeb;

--cuerposDeTexto :12px;
--titulares:24px;
--precios:18px;
--descuentos:16px;
--descripciones:16px;




}